<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="by.itacademy.pvt">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name="by.itacademy.pvt.app.App"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name="by.itacademy.pvt.dz0.Dz0Activity"/>
        <activity android:name="by.itacademy.pvt.dz1.Dz1Activity"/>
        <activity android:name="by.itacademy.pvt.dz2.Dz2MenuActivity"/>
        <activity android:name="by.itacademy.pvt.dz2.Dz2Activity1"/>
        <activity android:name="by.itacademy.pvt.dz2.Dz2Activity2"/>
        <activity android:name="by.itacademy.pvt.dz3.Dz3Activity"/>
        <activity android:name="by.itacademy.pvt.dz6.Dz6StudentListActivity"/>
        <activity android:name="by.itacademy.pvt.dz6.Dz6StudentDetailsActivity"/>
        <activity android:name="by.itacademy.pvt.dz6.Dz6StudentEditActivity"/>

        <activity android:name="by.itacademy.pvt.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>